@use "colors" as *;

.sqb-button {
    background: var(--dashfed);
    border-radius: 5px;
    border: none;
    padding: 1rem;
}

.sqb-button:hover, .sqb-button:focus {
    background: $dark-purple;
    -webkit-box-shadow: inset 0px 0px 0px 10px #000000; 
    box-shadow: inset 0px 0px 0px 2px $fit-blue;
    color: $fit-blue;
}