:root {
  --black: #1e1825;
  --white: #fff;
  --blue: #96c5b0;
  --purple: #bf9aca;
}

@font-face {
  font-family: "Hammersmith One";
  src: url(./assets/HammersmithOne.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans";
  src: url(./assets/SourceSans3.ttf);
}

@font-face {
  font-family: "Source Sans Italic";
  src: url(./assets/SourceSans3-Italic.ttf);
}

/* General */

#root {
  margin: 0 auto;
  place-items: center;
  padding: 2rem;
  text-align: center;
}

html {
  background-color: var(--white);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
ul {
  color: white;
}
h1 {
  text-align: center;
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: Hammersmith One;
}

p,
input::placeholder,
ul {
  font-family: Source Sans, Cursive;
  color: #ffffffcc;
}

// .container {
//   width: 320px;
//   display: flex;
//   flex-wrap: wrap;
//   background-color: var(--black);
//   margin: 0;
//   padding: 2rem;
// }

.container {
  width: 320px;
  height: 568px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #1E1825;
}

/* Header */

header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header div {
  padding: .5rem;
}

header button {
  background: none;
	color: inherit;
	border: none;
	padding: .5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  display: flex;
  gap: 2rem;
}

footer nav a {
  color: white;
}

/* Sean's Bottom Nav Bar */

.bottom-nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.bottom-nav {
  border-top: 2px;
  border-color: #bf9aca;
}

.bottom-nav ul {
  gap: 3rem;
}

hr {
  height: 2px;
  margin-top: 8rem;
  margin-bottom: 1rem;
  border: none;
  background-image: linear-gradient(to right, #BF9ACA, #96C5B0);
}

.bottom-nav-icon, 
.top-nav-icon {
  transition: all 0.3s ease;
}

.bottom-nav-icon.active,
.top-nav-icon.active {
  filter: grayscale(0) brightness(1.3) drop-shadow(0 0 6px #00f260); 
}

/* Button */

.btn-component {
  background-image: linear-gradient(to right, #bf9aca, #96c5b0);
  color: var(--black);
  background-color: #96c5b0;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 1.25rem;
  font-family: Hammersmith One, cursive;
  font-size: large;
}

.btn-component:hover {
  background-color: var(--blue);
  background-image: none;
  color: var(--black);
  border: none;
  transition: 1s;
}

.fullw-btn {
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1.5rem;
}

.log-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: var(--black);
  background-color: white;
  font-family: Hammersmith One, cursive;
  font-size: large;
}

/* Form */

.search label {
  display: none;
}

.search input {
  background-image: url(src/assets/Search-Icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
  padding: 0.5rem 0 0.5rem 2.25rem;
}

input {
  background-color: var(--black);
  color: white;
  border: white 2px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.measurement {
  display: flex;
}

.log-input {
  border-end-end-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  width: 3rem;
}

/* Img */
img {
  width: 75px;
  height: 75px;
}

/* log food */
.log-food {
  display: flex;
  gap: 0.5rem;
  border: 2px white solid;
  padding: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}

/* section */
section {
  padding: 1rem;
}

ul {
  padding-bottom: 0.5rem;
}
